
<script src="scripts/recorder.js"></script>
<script src="scripts/recording-interface.js"></script>
<script src="scripts/siriwave.js"></script>
<script src="scripts/siriwave-interface.js"></script>
<script src="scripts/upload-interface.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="siriquery-title">SiriQuery</div>
<div id="siriquery-subtitle">Siri on the web, for the very first time.</div>

<div id="siri-container"></div>
<script>loadSiri()</script>

<a href="#" id="main-button-link" onclick="startRecording()">
    <div id="main-buttons">
        <img id="microphone-icon" src="assets/microphone.png">
        <img id="check-icon" style="display: none;" src="assets/check.png">
    </div>
</a>

<div id="status-text"></div>